header, main {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

form .field {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

form label {
    z-index: 2;
    padding: 0 5px;
}

form input {
    padding: 30px 5px 5px 5px;
    color: #000;
    margin-top: -20px;
    font-size: 15px;
}

form input:focus {
    outline-offset: 0px;
    outline: none;
    border: 1px solid #ff760c;
}

button {
    background: none;
    font-size: 12px;
}

form button {
    border: 1px solid #ff760c;
    padding: 10px 20px;
}

form button:hover {
    background-color: #ff760c;
    color: #fff;
}

main div {
    display: flex;
    flex-direction: column;
}

ol {
    padding: 0;
    margin: 0;
}

main div h3 {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
}

main div ol li {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #808e9b;
    padding: 15px 0;
}

main div ol li button {
    margin: 0 10px;
    padding: 5px 15px;
    border: 1px solid #000;
}

main div ol li button.user-edit {
    background-color: #45aaf2;
    color: #fff;
}

main div ol li button.user-delete {
    background-color: #ff3f34;
    color: #fff;
}
